body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 0;
    height: 100%;
    background-color: #212121;
    color: #333;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#queryForm {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1000;
    margin-bottom: 50px;
}

#queryForm.hidden {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

#resultContainer {
    margin-top: 30px;
    padding-bottom: 130px;
    overflow-y: auto;
    height: calc(75vh - 80px);
    background-color: #212121;
    border-radius: 15px;
    padding: 20px;
    z-index: 1000;
    font-size: 15px;
}

textarea {
    width: 65%;
    height: 80px;
    padding: 12px;
    font-size: 15px;
    border: 2px solid #2f2f2f;
    border-radius: 15px;
    resize: none;
    outline: none;
    transition: border-color 0.3s, opacity 0.3s;
    opacity: 0.3;
}

textarea:hover,
textarea:focus {
    opacity: 1;
}

textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

#sendButton {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(45deg, blue, dodgerblue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s, opacity 0.3s;
    opacity: 0.3;
}

#sendButton:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

#sendButton i {
    color: white;
    font-size: 26px;
}

.message {
    background: linear-gradient(to right, #9B4D96, #2E3A8C, #1A8EBC);
    margin: 12px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: slideFadeIn 0.5s forwards;
    font-size: 15px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    overflow-wrap: break-word;
    line-height: 1.4;
}

.user-message {
    background: linear-gradient(to right, #2E3A8C, #4B0082, #800080);
    border-left: 5px solid #800080;
    color: white;
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: right;
}

.gemini-response {
    background: linear-gradient(to right, #800080, #2E3A8C, #00bcd4);
    border-left: 5px solid #00bcd4;
    color: white;
    animation-delay: 0.2s;
    font-size: 15px;
    word-wrap: break-word;
    text-align: left;
    overflow-wrap: break-word;
}

code {
    display: inline-block;
    background-color: #424242;
    padding: 12px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15px;
    margin-top: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre;
    max-width: 100%;
}

@keyframes slideFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.copy-button {
    background-color: #4CAF50;
    color: white;
    padding: 7px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 8px;
    font-size: 15px;
}

#scrollToBottomBtn {
    position: fixed;
    right: 20px;
    bottom: 110px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

#scrollToBottomBtn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#scrollToBottomBtn i {
    font-size: 26px;
}

#loadingMessage {
    display: none;
    text-align: center;
    font-size: 15px;
    color: #888;
    margin-top: 25px;
}

.fas.fa-arrow-up {
    font-size: 30px;
    font-weight: bold;
    color: #303030;
    transition: transform 0.3s ease, color 0.3s ease;
}

.fas.fa-arrow-up:hover {
    color: #007bff;
    transform: scale(1.2);
}

.api {
    text-align: center;
    background: linear-gradient(to right, blue, purple, lightcoral);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#inputPrompt {
    font-family: 'Poppins', sans-serif;
}

.api2 {
    text-align: center;
    background: linear-gradient(to right, blue, purple, lightcoral);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding-top: 20px;
    padding-bottom: 5px;
    white-space: nowrap;
    width: fit-content;
}

